---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>

    <div class="row mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10" style="padding-left: 6rem;">
        {% for section in site.data.cv.education %}
          <div class="mb-5 d-flex align-items-start">
            <div style="width: 70px; flex-shrink: 0; margin-right: 1.5rem;">
              <img src="{{ site.github.url }}/{{ section.icon }}" alt="{{ section.description }} logo" style="max-width: 60px; height: auto;">
            </div>
            <div>
              <p class="fw-bold mb-1">{{ section.title }}</p>
              <p class="mb-0">{{ section.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10" style="padding-left: 4rem;">
        {% for section in site.data.cv.academic-experience %}
          <div class="mb-4">
            <p class="fw-bold mb-1">{{ section.title }}</p>
            <p class="mb-0">{{ section.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
